@import 'colors';
@import 'fonts';

.carousel-indicators li {
    border-radius: 100%;
	background-color: grey;
    height: 10px;
    width: 10px;

}

.carousel-indicators {
    bottom: -70px;

}

.carousel-indicators li.active {
	width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #1E3853;
}


@media screen and (min-width:1024px){
//Container carousel start

.colCarouselContainers{
  display: flex;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.formatSlider{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.carousel-inner{
  margin: 0px 0px 0px 0px;
  padding: auto;
}
	
.carousel-altur{
  height: 200px;
}
	
.formatSlider{
    justify-content: center;
    align-content: center;
    width: 100%;
    }
    
    .jumbotronSlider{
    border-radius: 29px;
    margin: 100px 35px 5px 33px;
    padding: 0px;
    height: 288px;
    background-color: $color4;
    -webkit-box-shadow: 10px 14px 37px 0px rgba(213,213,213,1);
-moz-box-shadow: 10px 14px 37px 0px rgba(213,213,213,1);
box-shadow: 10px 14px 37px 0px rgba(213,213,213,1);
    }

    .imgColContainer2{
      display:none !important;
    }
    
    .imgcellBankContainer{
    margin: 30px 45px 0px 40px;
    padding: 0px;
    height: 258px;
    }

    .txtSmsSlide{
    margin: 0px 0px 0px 0px;
    padding: 0px;
    }
    
    .txtSlide{
    margin: 0px;
    padding: 0px;
    }
    
    .descritiveTextSlide{
    margin: 5px 0px 0px 0px;
    }
    
    .smsLinkSlide{
    margin-top: 86px;
    }
    
    .whatsLinkSlide{
    margin-top: 20.75px;
    }
    
    .chatbotLinkSlide{
    margin-top: 20.75px;
    }

    .smsLinkSlide2{
    margin: 0px 22.92px 0px 0px;
    }
    
    .whatsLinkSlide2{
    margin: 0px 22.92px 0px 0px;
    }
    
    .chatbotLinkSlide2{
    margin: 0px 22.92px 0px 0px;
    }    
    
    .carousel-control-prev{
    margin: 0px;
    padding: 0px;
    display: flex;
    }
    
    .carousel-control-next{
    margin: 0px;
    padding: 0px;
    display: flex;
    }

    .rowLinkContainer{
        display: flex;
        align-items: center;
        justify-items: center;
        margin: 36px 0px 0px 0px;
        visibility: hidden;
    }
    //Container carousel end

    //Texts carousel start
.txtSlides_link{
    color: $color1;
	letter-spacing: 1;
	font-weight: 200;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
	text-decoration: underline;
    }
	
	.txtSlides{
	  color: $color1;
    }
    
    .txtSmsSlide{
      font-weight: 400;
      font-size: 14px;
      font-family: 'Raleway', sans-serif;
    }
    .txtSlide{
      font-weight: 600;
      font-size: 28px;
      font-family: 'Source Sans Pro', sans-serif;
    }
    .descritiveTextSlide{
      font-weight: 200;
      font-size: 14px;
      font-family: 'Raleway', sans-serif;
    }
    .linkSlide{
      color: $color1;
      font-weight: 400;
      font-size: 14px;
      font-family: 'Raleway', sans-serif;
    }
    //Texts carousel end

    //Images carousel start
	
	
	
.material-icons.md-48 { font-size: 48px; }
	
.smsLinkSlide{
  width: 33.8px;
  height: 18.25px;
}

.whatsLinkSlide{
  width: 28.13px;
  height: 28.13px;
}

.chatbotLinkSlide{
  width: 27.84px;
  height: 29.59px;
}

.smsLinkSlide2{
  width: 33.8px;
  height: 18.25px;
}

.whatsLinkSlide2{
  width: 28.13px;
  height: 28.13px;
}

.chatbotLinkSlide2{
  width: 27.84px;
  height: 29.59px;
}    
//Images carousel end
}
@media screen and (min-width: 768px) and (max-width: 1023px){
//Container carousel start

	
.carousel-indicators {
    bottom: -50px;

}

	
.colCarouselContainers{
  display: block;
  margin: auto;
  padding: 0px 0px 0px 0px;
}

.formatSlider{
    justify-content: center;
    align-content: center;
    width: 100%;
   	margin: 60px 0px;
    height: 450px;
    }
    
    .jumbotronSlider{
    border-radius: 29px;
    margin: auto;
    padding: 20px 0px 0px 0px;
    height: 400px;
    background-color: $color4;
    box-shadow: -2px 2px 10px $color6;
    }
    .imgColContainer2{
      display:none !important;
    }
    
    .imgcellBankContainer{
    margin: 30px 45px 0px 40px;
    padding: 0px;
    height: 280px;
    }

    .txtSmsSlide{
    margin: 0px 0px 0px 0px;
    padding: 0px;
    }
    
    .txtSlide{
    margin: 0px;
    padding: 0px;
    }
    
    .descritiveTextSlide{
    margin: 10px 0px 0px 0px;
    }
    
    .smsLinkSlide{
    margin-top: 86px;
    visibility: hidden;
    }
    
    .whatsLinkSlide{
    margin-top: 20.75px;
    visibility: hidden;
    }
    
    .chatbotLinkSlide{
    margin-top: 20.75px;
    visibility: hidden;
    }

    .smsLinkSlide2{
    margin: 0px 22.92px 0px 0px;
    }
    
    .whatsLinkSlide2{
    margin: 0px 22.92px 0px 0px;
    }
    
    .chatbotLinkSlide2{
    margin: 0px 22.92px 0px 0px;
    }    
    
    .carousel-control-prev{
    margin: 0px;
    padding: 0px;
    display: flex;
    }
    
    .carousel-control-next{
    margin: 0px;
    padding: 0px;
    display: flex;
    }

    .rowLinkContainer{
        display: flex;
        align-items: center;
        justify-items: center;
        margin: 15px 0px 0px 80px;
    }

    .txtSlides{
        margin: 20px 20px 0px 80px;
        }
    //Container carousel end

    //Texts carousel start
.txtSlides{
    color: $color1;
    }
    
    .txtSmsSlide{
      font-weight: 400;
      font-size: 14px;
      font-family: 'Raleway', sans-serif;
    }
    .txtSlide{
      font-weight: 600;
      font-size: 28px;
      font-family: 'Source Sans Pro', sans-serif;
    }
    .descritiveTextSlide{
      font-weight: 400;
      font-size: 14px;
      font-family: 'Raleway', sans-serif;
    }
    .linkSlide{
      color: $color1;
      font-weight: 400;
      font-size: 14px;
      font-family: 'Raleway', sans-serif;
    }
    //Texts carousel end

    //Images carousel start
.smsLinkSlide{
  width: 33.8px;
  height: 18.25px;
}

.whatsLinkSlide{
  width: 28.13px;
  height: 28.13px;
}

.chatbotLinkSlide{
  width: 27.84px;
  height: 29.59px;
}

.smsLinkSlide2{
  width: 33.8px;
  height: 18.25px;
}

.whatsLinkSlide2{
  width: 28.13px;
  height: 28.13px;
}

.chatbotLinkSlide2{
  width: 27.84px;
  height: 29.59px;
}    
//Images carousel end
}
    
@media screen and (min-width: 359px) and (max-width: 767px){
//Container carousel start
.colCarouselContainers{
  display: block;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  justify-items: center;
align-items: center;
}

.formatSlider{
    justify-items: center;
    align-items: center;  
	padding: 20px;
    height: 800px;
    margin: auto;

    }
    
    .jumbotronSlider{
      display: flex;
    border-radius: 29px;
    margin: 49px auto auto auto;
    padding: 0px 0px 0px 0px;
    width: 318px;
    height: 615px;
    background-color: $color4;
    box-shadow: -2px 2px 10px $color6;
    }
    
    .imgColContainer1{
      margin: auto auto auto auto;
      display:none !important;
      padding: 0px 0px 0px 0px;
    }

    .imgColContainer2{
    display: flex;
    margin:auto;
    padding: 0px 0px 0px 0px;
    }

    .imgcellBankContainer{
    padding: 0px 0px 0px 0px;
    margin: 5px auto auto auto;
    height: 250px;
    }

    .txtSmsSlide{
    margin: 26.41px auto auto auto;
    padding: 0px 0px 0px 0px;
    }
    
    .txtSlide{
    margin: auto;
    padding: 0px 0px 0px 0px;
    }
    
    .descritiveTextSlide{
    margin: 10px auto auto auto;
    padding: 0px 0px 0px 0px;
    }
    
    .smsLinkSlide{
      display:none !important;
      margin: auto;
      padding: 0px 0px 0px 0px;
    }
    
    .whatsLinkSlide{
      display:none !important;
      margin: auto;
      padding: 0px 0px 0px 0px;
    }
    
    .chatbotLinkSlide{
      display:none !important;
      margin: auto;
      padding: 0px 0px 0px 0px;
    }

    .smsLinkSlide2{
    margin: auto;
    padding: 0px 0px 0px 0px;
    }
    
    .whatsLinkSlide2{
    margin: auto;
    padding: 0px 0px 0px 0px;
    }
    
    .chatbotLinkSlide2{
    margin: auto;
    padding: 0px 0px 0px 0px;
    }    
    
    .carousel-control-prev{
    margin: auto;
    padding: 0px 0px 0px 0px;
    display: flex;
    }
    
    .carousel-control-next{
    margin: auto;
    padding: 0px 0px 0px 0px;
    display: flex;
    }

    .rowLinkContainer{
        margin: 33px auto auto auto;
        padding: 0px 0px 0px 0px;
    }

    .colLinkContainer{
    display:block;
    margin:auto;
    padding: 0px 0px 0px 0px;
    }

    .txtSlides{
        margin: 20px 20px auto 20px;
        text-align: center;
        padding: 0px 0px 0px 0px;
        }
    //Container carousel end

    //Texts carousel start
    .txtSlides{
    color: $color1;
    }
    
    .txtSmsSlide{
      font-weight: 400;
      font-size: 14px;
      font-family: 'Raleway', sans-serif;
    }
    .txtSlide{
      font-weight: 600;
      font-size: 25px;
      font-family: 'Source Sans Pro', sans-serif;
    }
    .descritiveTextSlide{
      font-weight: 400;
      font-size: 12px;
      font-family: 'Raleway', sans-serif;
    }
    .linkSlide{
      color: $color1;
      font-weight: 400;
      font-size: 14px;
      font-family: 'Raleway', sans-serif;
    }

    .imgContactContainer{
      display:none !important;
      margin: auto;
      padding: 0px 0px 0px 0px;
    }
    //Texts carousel end

    //Images carousel start
.smsLinkSlide{
  width: 33.8px;
  height: 18.25px;
  padding: 0px 0px 0px 0px;
}

.whatsLinkSlide{
  width: 28.13px;
  height: 28.13px;
  padding: 0px 0px 0px 0px;
}

.chatbotLinkSlide{
  width: 27.84px;
  height: 29.59px;
  padding: 0px 0px 0px 0px;
}

.smsLinkSlide2{
  width: 33.8px;
  height: 18.25px;
  padding: 0px 0px 0px 0px;
}

.whatsLinkSlide2{
  width: 28.13px;
  height: 28.13px;
  padding: 0px 0px 0px 0px;
}

.chatbotLinkSlide2{
  width: 27.84px;
  height: 29.59px;
  padding: 0px 0px 0px 0px;
}    
//Images carousel end
}