@import 'colors';
@import 'fonts';
@import 'images';

@media screen and (min-width:1024px){
//Container welcome start
.welcomeContainer{
    margin: 164px 250px 6.63px 250px;
    justify-items: center;
	color:#3B536D;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
    align-items: center;
    padding: 0px;
    overflow: hidden;
  }
//Container welcome end

//Texts welcome start
.welcomeMessage{
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    padding: 0px 0px 0px 0px;
}
//Texts welcome end
}

@media screen and (min-width: 768px) and (max-width: 1023px){
//Container welcome start
.welcomeContainer{
    margin: 95.17px 0px 0px 0px;
    justify-items: center;
    align-items: center;
    padding: 0px;
    overflow: hidden;
  }
//Container welcome end

//Texts welcome start
.welcomeMessage{
    font-weight: 700;
    font-size: 37px;
    text-align: center;
	color: #3B536D;
    font-family: 'Raleway', sans-serif;
}
//Texts welcome end
}

@media screen and (min-width: 359px) and (max-width: 767px){
//Container welcome start
.welcomeContainer{
    margin: 40px 23px 0px 23px;
    justify-items: center;
    align-items: center;
    padding: 0px;
    overflow: hidden;
  }
//Container welcome end

//Texts welcome start
.welcomeMessage{
    font-weight: 700;
    font-size: 30px;
    text-align: center;
	color: #3B536D;
    font-family: 'Raleway', sans-serif;
}
//Texts welcome end
}